/* Global CSS */

html {
    font-size: 62.5%;
    background-color: rgb(35, 35, 35);
}

/* End Global CSS */

/* -------------Index------------- */

/* top(header) */

.top {
    background: rgb(20, 20, 20);
    color: rgb(135, 135, 135);
}
.top h1 {
    font-size: 230%;
}
.top li {
    font-size: 200%;
    font-family: "Montserrat", sans-serif;
    padding: 1vw;
}
.top a{
    color: rgb(135, 135, 135);
    text-decoration: none;
}


.top nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0.5rem;
}

.top nav ul{
    display: flex;
    flex: 10%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    font-family: "Montserrat", sans-serif;
    flex: 1 1 40rem;
}

/* End top(header) */


/* Images(reseaux) */

#images {
    max-width: 5.4%;
    min-height: 5.4%;
    vertical-align:middle;
    display: inline-flex;
    margin-left: 0.4%;
    margin-right: 2.3%;
}

.img_line {
    margin-left: 37.5%;
}

/* End Images(reseaux) */


/* Desc(titre) */

.desc h1 {
    text-align:center;
    font-size: 2.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: rem;
    color:rgb(180, 180, 180)
}
.desc h2 {
    text-align: center;
    font-size: 1.5vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vmax;
    color:rgb(73, 73, 73)
}

/* End Desc */

/* Video */

#video {
    width: 50vw;
    height: 28.1vw;
    display: block;
    text-align:center;
    margin:auto;
    display:flex;
}
/* End Video */

/* showproj */

.showproj {
    width: 50vw;
    height: 28vw;
    background:url("https://i.ibb.co/SV4BrRq/image-2022-02-03-130430.png");
    background-size: 100% 100%;
    text-align:center;
    margin:auto;
    margin-top: 1vw;
    
}

/* -------------End Index------------- */

/* -------------About------------- */

.qui h1 {
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
    color:rgb(180, 180, 180)
}

/* -------------End About------------- */

/* -------------Projet------------- */

/* Proj(n1) */
.info1 {
    position: absolute;
    padding: 1vw;
    background: rgb(49, 49, 49);
    box-shadow: 0 15% 15% rgba(0,0,0,.2);
    box-sizing: border-box;
    width: 90vw;
    margin-left: 3.8vw;
    margin-top:10vmax;

}

.sc1 {
    width: 35vw;
    height: 20vw;
    background:url("https://i.ibb.co/SV4BrRq/image-2022-02-03-130430.png");
    background-size: 100% 100%;
    float: left;
    shape-outside: circle();
}

.info1 h2 {
    font-size: 1.9vw;
    color: rgb(180, 180, 180);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 40vw;
    margin-right: 5vw;
}

.info1 h3 {
    font-size: 2.3vw;
    color: rgb(180, 180, 180);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 40vw;
    margin-right: 5vw;
}

/* End Proj(n1) */

/* Proj(n2) */

.sc2 {
    width: 35vw;
    height: 20vw;
    background:url("https://i.ibb.co/Gd7T70q/PWgenerator.png");
    background-size: 100% 100%;
    float: left;
    shape-outside: circle();
}

.info2 {
    position: absolute;
    top: 45vmax;
    padding: 1vw;
    background: rgb(49, 49, 49);
    box-shadow: 0 15% 15% rgba(0,0,0,.2);
    box-sizing: border-box;
    width: 90vw;
    margin-left: 3.8vw;
}

.info2 h2 {
    font-size: 1.9vw;
    color: rgb(180, 180, 180);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 40vw;
    margin-right: 5vw;
}

.info2 h3 {
    font-size: 2.3vw;
    color: rgb(180, 180, 180);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 40vw;
    margin-right: 5vw;
}

.info2 h4 {
    font-size: 1vw;
    color: rgb(15, 15, 15);
    text-align: center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 40vw;
    margin-right: 5vw;
}

/* End Proj(n2) */

/* buttons */
.dlb {
    margin-left: 58%;
}

.dlb img {
    max-width: 20%;
    min-height: 15%;
    margin-left: 5%;
    vertical-align:middle;
    display: inline-flex;
}

/* End buttons */

/* Title projet */

.titre_proj1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(180, 180, 180) ;
    font-size: 1.6vmax;
    text-align: center;
    margin-top: 3vmax;
}

/* End Title projet */

/* signature */

.desc_proj h2 {
    text-align: center;
    font-size: 1.5vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 55vmax;
    color:rgb(73, 73, 73)
}

/* End signature */

/* -------------End Projet------------- */
